# Виртуальное окружение
venv/
.venv/

# База данных и логи
*.sqlite3
*.log

# Файлы PyCharm
.idea/

# Секретные ключи Django (если вынесете)
# secret_key.txt

# Скомпилированные файлы Python
__pycache__/
*.pyc

media/