{% extends "club_core/base.html" %}

{% block title %}{{ coach.name|default:"Тренер не найден" }} - Наш Тренер{% endblock %}
{% if coach %}
    {% block content %}

        {% for item in coach %}
        <h1>{{ item.name }}</h1>
        <h2>Специализация: {{ item.specialty }}</h2>
        
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="Фото тренера {{ item.name }}" style="max-width: 300px; height: auto;">
        {% endif %}

        <h3>Биография и Опыт:</h3>
        <p>{{ item.bio|linebreaksbr }}</p>
        {% endfor %}
    {% endblock %}
{% else %}
        <h1>Информация о тренере пока недоступна.</h1>
{% endif %}
