{% extends "club_core/base.html" %}

{% block title %}Расписание - {{ block.super }}{% endblock %}

{% block content %}
    <h1>Расписание</h1>

    {% for session in sessions %}
    <div style="border: 1px solid #ccc; margin-bottom: 15px; padding: 10px;">
        <h2>{{ session.name }}</h2>

        <p>Дата и время: {{ session.date_time|date:"d.m.Y H:i" }}</p>

        {% if session.is_tournament %}
            <p><strong>Это Турнир!</strong></p>
        {% else %}
            <p>Тип: Тренировка</p>
        {% endif %}

        <p>Мест: {{ session.max_participants }}</p>

        <a href="#">Записаться (Пока не работает)</a>
    </div>
    {% empty %}
        <p>На данный момент нет запланированных тренировок или турниров.</p>
    {% endfor %}
{% endblock %}
