{% extends "club_core/base.html" %}

{% block title %}Новости и Главная - {{ block.super }}{% endblock %}

{% block content %}
    <h1>Добро пожаловать в наш Клуб!</h1>

    <h2>Последние новости:</h2>
    {% if latest_news %}
        {% for item in latest_news %}
            <div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px;">
                <h3>{{ item.title }}</h3>
                <p><small>Опубликовано: {{ item.pub_date|date:"d.m.Y" }}</small></p>
                <p>{{ item.content|truncatechars:200 }}</p>
                <a href="{% url 'news_page' item.id %}">Читать далее...</a>
            </div>
        {% endfor %}
    {% else %}
        <p>На данный момент нет опубликованных новостей.</p>
    {% endif %}

{% endblock %}